[mysqld]
server-id=100
# 端口
port=3306
# 原生数据复制
binlog-format=ROW 
# 同步的数据库名称
binlog-do-db=douyin   

# 修改全文索引的最小搜索长度
innodb_ft_min_token_size = 1
ft_min_word_len = 1

# 中文检索分词插件ngram 默认就是2
ngram_token_size=2 